@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.feature1blob{
  @apply w-full h-full bg-[linear-gradient(255.15deg,_#51E0FF_18.61%,_#00D0FF_18.62%,_#FF0DE7_93.07%)] absolute top-0 desktop:-left-40 -z-10 blur-blur150 opacity-5 overflow-hidden rounded-full;
}

.feature2blob{
  @apply w-full h-full bg-[linear-gradient(255.15deg,_#51E0FF_18.61%,_#00D0FF_18.62%,_#FF0DE7_93.07%)] scale-x-[-1] absolute top-0 desktop:-left-40 -z-10 blur-blur150 opacity-5 overflow-hidden rounded-full;
}

.aboutblob{
  @apply w-full h-full bg-[linear-gradient(255.15deg,_#51E0FF_18.61%,_#00D0FF_18.62%,_#FF0DE7_93.07%)] absolute top-0 desktop:-left-40 -z-10 blur-blur150 opacity-5 overflow-hidden rounded-full;
}

.otp-group {
  display: flex;
  width: 100%;
  /* max-width: 384px; */
  column-gap: 30px;
}

.otp-input {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}

.legend-item-0{
  display: flex !important;
  align-items: center;
  margin-right: 2rem !important;
  font-size: 11px;
}
.legend-item-1{
  display: flex !important;
  align-items: center;
  font-size: 11px;
}

.recharts-default-legend{
  display: flex;
}
/* 
table {
  border: 1px solid #cccccc;
  font-family: "Golos Text";
}

tbody {
  border: 1px solid #cccccc;
}

th {
  border: 1px solid #cccccc;
  padding: 2px 4px;
}

td{
  border: 1px solid #cccccc;
}

thead{
  background-color: #f3f3f3;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

td,th{
  text-align: center;
}

table{
  width: 100%;
}

.table-text{
  color:red;
  font-weight: 500;
}

td{
  color: #737474;
} */